*{
  box-sizing:border-box;
}
body {
  font-family: sans-serif;
  background: #e6e6e6;
}

.header {
  background: white;
  width: 100%;
  border-bottom: solid 2px;
  border-color: #d9d9d9;
}

header {
  width: 960px;
  margin: 0 auto;
}

.name {
  padding: 23px;
  padding-left: 20px;
  background: #00b3b3;
  color: white;
  float: left;
}

.header-right {
  font-family: sans-serif;
  float: right;
  padding-right: 50px;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: #a6a6a6;
}

header::after {
  content: "";
  display: block;
  clear:both;
}

h3 {
  clear: both;
  font-family: serif;
  color: #00b3b3;
  font-size: 24px;
}

.gallery {
  background: white;
  width: 30%;
  height: 50%;
  padding: 20px;
  margin: 20px auto
}

.portfolio {
  border-bottom: solid;
  border-color: #d9d9d9;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.pic1 {
  float: left;
  margin: 25px;
}

.pic2 {
  float: left;
  margin: 25px
}

.pic3 {
  clear: both;
  float: left;
  margin: 25px
}

.pic4 {
  float: left;
  margin: 25px;
}

.pic5 {
  clear: both;
  margin: 25px
}

#footer {
  clear: both;
  text-align: center;
  background: #737373;
  color: #bfbfbf;
  padding: 15px;
  border-top: solid 5px;
  border-color: #00b3b3;
  Margin-top: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

